[Unit]
Description=Valkey for {{ .Domain }} (berth)
After=network.target

[Service]
Type=notify
User={{ .User }}
Group={{ .User }}
RuntimeDirectory=berth-valkey/{{ .Pool }}
RuntimeDirectoryMode=0700
StateDirectory=berth-valkey/{{ .Pool }}
StateDirectoryMode=0700
ExecStart=/usr/bin/valkey-server --port 0 --unixsocket /run/berth-valkey/{{ .Pool }}/valkey.sock --unixsocketperm 600 --dir /var/lib/berth-valkey/{{ .Pool }} --maxmemory {{ .Maxmemory }} --maxmemory-policy {{ .Policy }} --supervised systemd --daemonize no
Restart=always

[Install]
WantedBy=multi-user.target
