[{{ .PoolName }}]
user = {{ .User }}
group = {{ .User }}

listen = {{ .Socket }}
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 4
pm.max_requests = 500

php_admin_value[open_basedir] = {{ .DeployPath }}/current:{{ .DeployPath }}/shared:/tmp
php_admin_value[error_log] = /var/log/php/{{ .PoolName }}-fpm.error.log
php_admin_flag[log_errors] = on
