memory_limit = {{ .MemoryLimit }}
upload_max_filesize = {{ .UploadMax }}
post_max_size = {{ .PostMax }}
max_execution_time = {{ .MaxExecutionTime }}
max_input_vars = {{ .MaxInputVars }}
expose_php = Off
