{{ .User }} ALL=(root) NOPASSWD: /usr/bin/systemctl reload php{{ .PHPVersion }}-fpm
{{ .User }} ALL=(root) NOPASSWD: /usr/bin/supervisorctl reread
{{ .User }} ALL=(root) NOPASSWD: /usr/bin/supervisorctl update
{{ .User }} ALL=(root) NOPASSWD: /usr/bin/supervisorctl start {{ .ProgramName }}\:*
{{ .User }} ALL=(root) NOPASSWD: /usr/bin/supervisorctl stop {{ .ProgramName }}\:*
{{ .User }} ALL=(root) NOPASSWD: /usr/bin/supervisorctl restart {{ .ProgramName }}\:*
